@import "../../styles/variables/variables";

.task-form {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: (translate(-50%, -50%));
  transition: (transform 300ms, box-shadow 300ms);
  box-shadow: $boxShadow;
}