@import "../../styles/variables/variables";
.tasks {
  overflow: hidden;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  //width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: $boxShadow;
  text-align: center;
  .task-card {
    overflow: auto;
    max-height: 60vh;
  }
}